@import "/src/assets/styles/variables";
@import "/src/assets/styles/media-breakpoints";

$header-bg-transparent: adjust-color($primary-bg, $alpha: -0.20);

header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $header-bg-transparent;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;

  font-size: 2rem;

  & > button {
    background: none;
    border: none;
    color: $primary-color;
    font-size: 2rem;
    z-index: 9999;
  }
}

.logo {
  max-width: 5rem;
}

nav {
  display: flex;
  gap: 2.5rem;
}

.nav-menu-slider {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 3rem;
  padding: 5rem 0.5rem;

  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;

  background: $header-bg-transparent;
  background: linear-gradient(90deg, transparent 0%, $header-bg-transparent 75%);
}

.nav-menu-slider-close-button {
  display: block;
}

@media #{$media-mobile} {
  header {
    padding: 1rem;
  }

  .logo {
    max-width: 3rem;
  }
}
