/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "media-breakpoints";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: $primary-bg;
  color: $primary-color;
  font-family: Lato, sans-serif;
  font-weight: 400;
  letter-spacing: 0.075em;
}

img {
  display: block;
  width: 100%;
}

a {
  display: inline-block;
  color: $primary-color;
  position: relative;
  text-decoration: none;
}

a.animated {
  &:after {
    position: absolute;

    display: block;
    content: "";
    background: currentColor;

    left: 0;
    bottom: 0;
    width: 0;
    height: 0.1em;
    transition: width ease-in-out 0.25s;
  }

  &:hover:after {
    width: 100%;
  }
}

.page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 7.5rem;



  & > * {
    width: 80%;
    max-width: 1200px;

    @media #{$media-mobile} {
      width: 100%;
    }
  }
}
