$primary-bg: black;
$primary-bg-lvl-1: #131313;

$loading-placeholder-base: #333;
$loading-placeholder-gradient-accent: lighten($loading-placeholder-base, 10%);

$primary-color: #d0d0d0;
$accent-color: #b65eb4;
